
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Saira Condensed", serif;
}

img {
    width: 45px;
    transform: translate(138%);
    margin-top: -10px;
}
.navop {
    display: inline-block;
    margin-right: 10px;
    font-weight: 800;
    font-style: normal;
}
.title{
    display: inline-block;
    margin-left: -16.5%;
    font-weight: 800;
    font-style: normal;
}